body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; /* Very light grey */
}

#page-content-wrapper {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom right, #5b6fdb, #5c70d8);
    color: #ffffff;
    background-size: 100% 15%; /* Background gradient covers top quarter */
    background-repeat: no-repeat;
    background-position: top;
}

.container-fluid {

    padding: 20px; /* Add padding to match the sidebar and keep content centered */
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    background: #343a40;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    border: none;
}

.card.pool-card {
    background: #ffffff;
    color: #2c3e50;
    border-radius: 10px;
}

.card-title.pool-name {
    font-size: 1.5em;
    font-weight: bold;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

.btn-light {
    background-color: #ecf0f1;
    color: #2c3e50;
}

.btn-light:hover {
    background-color: #bdc3c7;
    color: #2c3e50;
}
